:host {
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 100%;
    position: relative;
}

GgCellComponent {
    padding: 2px;
}