:host {
    display: block;
    position: absolute;
    height: 100%;
    outline: none;
    overflow-x: hidden;
}

:host([gridSectionName="RowNumber"]) {
    width: 20px;
}

GgColumnCornerCell {
    display: block;
    position: absolute;
    width: 20px;
    background-color: #E6E6E6;
    height: 20px;
    border-bottom: 1px inset #A3A3A3;
    border-right: 1px inset #A3A3A3;
}