
:host {
    display: block;
    position: absolute;
    height: 100%;
    outline: none;
}

:host[gridSectionName="RowNumber"] {
    width: 20px;
}

:host[gridSectionName="Scroll"] {
    width: 20px;
    right: 0;
    overflow-y: scroll;
}

:host[gridSectionName="Scroll"] GgRow {
    visibility: hidden;
}

:host {
    overflow-x: scroll;
    overflow-y: hidden;
}
