div {
    width: 4px;
    cursor: col-resize;
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: black;
    transition: opacity 0.4s ease-out;
}

div:hover, div.active {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}