:host {
  display: block;
  height: 36px;
  position: relative;
  background-color: #E6E6E6;
}

i {
  display: block;
  position: absolute;
  font-size: 14px;
  top: 10px;
  left: 5px;
}

.cell-location {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 6px;
  bottom: 6px;
  width: 55px;
  font-size: 12px;
  background-color: #FAFAFA;
  border: 1px solid #C6C6C6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  line-height: 22px;
  vertical-align: middle;
}

.cell-content {
  display: inline-block;
  left: 85px;
  top: 6px;
  right: 5px;
  bottom: 6px;
  position: absolute;
  padding-left: 5px;
  font-size: 12px;
  background-color: #FAFAFA;
  border: 1px solid #C6C6C6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
}

.download-button {
  display: block;
  top: 11px;
  right: 20px;
  position: absolute;
}

.toggle-full-button {
  display: block;
  top: 11px;
  right: 9px;
  position: absolute;
}