div {
    display: block;
    height: 20px;
    background-color: #E6E6E6;
    position: relative;
    border: 1px solid #C6C6C6;
    transition: all 0.4s ease-out;
    transform: translate(0,-100%);
    /*visibility: hidden;*/
    opacity: 0;
}

div.is-visible {
    /*visibility: visible;*/
    transition: all 0.4s ease-out;
    opacity: 1;
    transform: translate(0,0);
}